<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Capacitacion</title>
<link  rel="stylesheet" href="estilos.css" >
</head>
<body>

        <a href = "Inicio.html"> Home </a>
		<a href = "Formulario.html"> Contacto </a>
		<a href = "#"> Crear Capacitacion </a>
        
    



<FORM action="CrearCapacitacion" method="post">
    
    <h1 class ="text-center"> FORMULARIO DE CAPACITACION  </h1>
    <p>    
    <LABEL for="nombre">Nombre: </LABEL>
              <INPUT type="text" name="nombre"><BR>
    <LABEL for="apellido">Apellido: </LABEL>
              <INPUT type="text" name="apellido"><BR>
    <LABEL for="email">Email: </LABEL>
              <INPUT type="text" name="email"><BR>
     <LABEL for="tipoCurso">Tipo Capacitacion: </LABEL>
              <INPUT type="text" name="tipoCurso"><BR>  
    <LABEL for="fecha">Fecha: </LABEL>
              <INPUT type="text" name="fecha"><BR> 
     <LABEL for="lugar">Lugar: </LABEL>
              <INPUT type="text" name="lugar"><BR>              
    
    <LABEL for="comentarios"> Deje su Comentarios: </LABEL>
              <INPUT type="text" id="comentarios"><BR> 
                              
   
    <INPUT type="submit" value="Enviar"> <INPUT type="reset">
    </p>
    
 </FORM>
 <footer class="mt-4 bg-light py-4">
    <h2 class="text-center">Cristian| Militza | Nicolas  ©2022 Grupo 2</h2>
  </footer>
</body>
</html>