<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulario de Contacto</title>
<link  rel="stylesheet" href="../css/estilos.css" >


</head>
<body>
<header>
        <a href = "Inicio.html"> Home </a>
		<a href = "#"> Contacto </a>
		<a href = "Capacitacion.html"> Crear Capacitacion </a>      
     
</header>

<form action="Contacto" method="post">
    
    <h1> FORMULARIO DE CONTACTO </h1>
    <p>    
    <LABEL> Nombre: </LABEL>
              <INPUT type="text" name="nombres"><BR>
    <LABEL> Apellido: </LABEL>
              <INPUT type="text" name="apellidos"><BR>
    <LABEL> Email: </LABEL>
              <INPUT type="text" name="email"><BR>
     <LABEL> Escriba su Consulta: </LABEL>
              <INPUT type="text" name="consultas"><BR>         
    <INPUT type="radio" name="sexo" value="Hombre"> Hombre <BR>
    <INPUT type="radio" name="sexo" value="Mujer"> Mujer<BR>
    <INPUT type="radio" name="sexo" value="Indefinido"> Prefiero no decir<BR>
    <INPUT type="submit" value="Enviar"> <INPUT type="reset">
    </p>
    
 </form>
 
 
<footer >
    <h2 >Cristian| Militza | Nicolas  ©2022 Grupo 2</h2>
  </footer>
</body>
</html>