<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link  rel="stylesheet" href="estilos.css" >

</head>
<body>


<a href = "#"> Home </a>
<a href = "Formulario.html"> Contacto </a>
<a href = "Capacitacion.html"> Crear Capacitacion </a>
 
 <h1> Bienvenidos a nuestra empresa de Asesorias </h1>
 <p> Nuestra Empresa se dedica a realizar asesorías en prevención de riesgos necesita contar con un sistema de información
que le permita administrar los principales procesos que se llevan a cabo en ella día a día.</p>
  
  <FORM action="Inicio" method="post">
  
  <h3>Ingrese a que area pertenece</h3>
   <p>
  <INPUT type="radio" name="usuario" value="Cliente"> Cliente <BR>
    <INPUT type="radio" name="usuario" value="Administrativo"> Administrativo<BR>
    <INPUT type="radio" name="usuario" value="Profesional"> Profesional<BR>
    <INPUT type="submit" value="Enviar"> <INPUT type="reset">
   </p>
   
   <p>Gracias por su preferencia </p>
   
 </FORM>
<footer >
    <h2>Cristian| Militza | Nicolas  ©2022 Grupo 2</h2>
  </footer>
</body>
</html>